/*
Project Name: Relaxr
Client: Your Client
Author: Carmen Martinez
Developer @GA in DC
*/

/******************************************
/* SETUP
/*******************************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
  width: 100%;
  margin: auto;
  height: 500px;
}

.header {
  background: url(../images/header_bg.jpg);
  background-size: cover;
  padding: 10px 0px 10px 30px;
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-weight: extrabold;
  font-size: 24px;
  color: white;
 
}

.header p {
  font-weight: semibold;
  font-size: 24px;
  color: white;
  text-align: center;
}

.header button {
  background: #f9e42e;
  font: 14px;
  border-radius: 5px;
  width: auto;
  /* text-align: center; */
  margin: auto;
  flex-grow: 1;
}

.main {
  background-color: white;
  padding: 10px 30px 10px 30px;
}

.main h1 {
  font-weight: semibold;
  font-size: 24px;
}

.main p,
ul {
  font-weight: light;
  font-size: 13px;
  max-width: 60%;
}

.end {
  font-weight: semibold;
  color: white;
  font-size: 18px;
  padding: 10px 0px 10px 30px;
  background-image: url("../images/testimonial_bg.jpg");
  background-size: repeat;
}

.end p{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding:10px;
}

.end:first-child {
  font-style: lightitalic;
}

.end:last-child {
  font-style: light;
}

.noname {
  background: #f9e42e;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.noname button {
  background: #606161;
  font: 12px;
  font-weight: extrabold;
  color: white;
  width: auto;
  border-radius: 5px;
  text-align: center;
}

.footer {
  background-color: #121212;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* display: flex;
 flex-direction: row; */
  /* background-size: cover; */
}

.footer h1 {
  font-weight: extrabold;
  font-size: 24px;
  color: #f9e42e;
}

.footer p {
  font-weight: semibold;
  font-size: 9px;
  color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/